<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/menu.css">
    <title>Dream 11 | IPL</title>
</head>

<body>
    <main class="site-wrapper">
        <div class="pt-table desktop-768">
            <div class="pt-tablecell page-home relative" style="background-image: url(2.jpg);
          background-position: center;
          background-size: cover;">
                <div class="overlay">
                    <img src="3.png" alt="dream11" style="height: 250px; width: 300px;">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="page-title  home text-center">
                            </div>

                            <div class="hexagon-menu clear">
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="http://localhost:1235/" target="_blank" class="hex-content" onMouseOver="this.style.color='yellow'">
                                        <span class="hex-content-inner">
                          <span class="icon">
                            <i class="fa fa-universal-access"></i>
                          </span>
                                        <span class="title">Chennai Super Kings</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="http://localhost:1236/" target="_blank" class="hex-content" onMouseOver="this.style.color='skyblue'">
                                        <span class="hex-content-inner">
                          <span class="icon">
                            <i class="fa fa-bullseye"></i>
                          </span>
                                        <span class="title">Mumbai Indians</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="http://localhost:1237/" target="_blank" class="hex-content" onMouseOver="this.style.color='red'">
                                        <span class="hex-content-inner">
                          <span class="icon">
                            <i class="fa fa-braille"></i>
                          </span>
                                        <span class="title">Royal Challengers Bangalore</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="http://localhost:1238/" target="_blank" class="hex-content">
                                        <span class="hex-content-inner">
                          <span class="icon">
                            <i class="fa fa-id-badge"></i>
                          </span>
                                        <span class="title">Kings XI Punjab</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                                    </a>
                                </div>


                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="http://localhost:1239/" target="_blank" class="hex-content" onMouseOver="this.style.color='gold'">
                                        <span class="hex-content-inner">
                          <span class="icon">
                            <i class="fa fa-id-badge"></i>
                          </span>
                                        <span class="title">Kolkata Knight Riders</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                                    </a>
                                </div>

                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="http://localhost:1240/" target="_blank" class="hex-content" onMouseOver="this.style.color='skyblue'">
                                        <span class="hex-content-inner">
                          <span class="icon">
                            <i class="fa fa-id-badge"></i>
                          </span>
                                        <span class="title">Delhi Capitals</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                                    </a>
                                </div>



                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="http://localhost:8080/" target="_blank" class="hex-content">
                                        <span class="hex-content-inner">
                          <span class="icon">
                            <i class="fa fa-id-badge"></i>
                          </span>
                                        <span class="title">On Match Live Chat Room</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                                    </a>
                                </div>

                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="http://localhost:1241/" target="_blank" class="hex-content" onMouseOver="this.style.color='pink'">
                                        <span class="hex-content-inner">
                          <span class="icon">
                            <i class="fa fa-clipboard"></i>
                          </span>
                                        <span class="title">Rajasthan Royals</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="http://localhost:1242/" target="_blank" class="hex-content" onMouseOver="this.style.color='orange'">
                                        <span class="hex-content-inner">
                          <span class="icon">
                            <i class="fa fa-map-signs"></i>
                          </span>
                                        <span class="title">Sunrisers Hyderabad</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>